@model StudentFinder.Models.StudentScheduleSpace

@using StudentFinder.Models

@{
    ViewData["Title"] = "Create";
    SelectList spaceList = ViewBag.SpaceSelectList;
    SelectList gradeLevel = ViewBag.gradeLevelSelectList;
    IEnumerable<Schedule> scheduleList = ViewBag.scheduleViewBag;
    //var superscheduleList = new List<Schedule>();

}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group">
                <label asp-for="GradeLevel" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="GradeLevel" class="form-control" />
                    <span asp-validation-for="GradeLevel" class="text-danger" />
                </div>
            </div>*@

        <div class="form-group">
            <label asp-for="Student.GradeLevel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("gradelevel", gradeLevel, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.StudentSchoolId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Student.StudentSchoolId" class="form-control" />
                <span asp-validation-for="Student.StudentSchoolId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.StudentsSchool" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Student.StudentsSchool" class="form-control" />
                <span asp-validation-for="Student.StudentsSchool" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.fName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Student.fName" class="form-control" />
                <span asp-validation-for="Student.fName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.lName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Student.lName" class="form-control" />
                <span asp-validation-for="Student.lName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Student.IsActive" class="col-md-2 control-label"></label>
            <div>
                <input asp-for="Student.IsActive" class="checkbox" />
                <span asp-validation-for="Student.IsActive" class="text-danger"></span>
            </div>
        </div>

        @*<table>
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Room</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in scheduleList)
                {
                    <tr>
                        <td>
                            @item.Label
                        </td>
                        <td>
                            @item.FromValue
                        </td>
                        <td>
                            @item.ToValue
                        </td>
                        <td>
                            <div class="form-group">

                                <div class="col-md-10">
                                    @Html.DropDownList("spaceSelectList", spaceList, "None", new { @class = "form-control", @style = "width: 16rem; display:inline-block" })
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>*@



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
