@model StudentFinder.Models.Student

@{
    ViewData["Title"] = "Edit";
    SelectList spaceList = ViewBag.SpaceSelectList;
    SelectList gradeLevel = ViewBag.gradeLevelSelectList;
    IEnumerable<Schedule> scheduleList = ViewBag.scheduleViewBag;
    SelectList schoolList = ViewBag.schoolSelectList;
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="GradeLevelId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("gradelevel", gradeLevel, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            <label asp-for="StudentSchoolId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StudentSchoolId" class="form-control" />
                <span asp-validation-for="StudentSchoolId" class="text-danger" />
            </div>
        </div>
        @*<div class="form-group">
                <label asp-for="StudentsSchool" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="StudentsSchool" class="form-control" />
                    <span asp-validation-for="StudentsSchool" class="text-danger" />
                </div>
            </div>*@
        <div class="form-group">
            <label asp-for="StudentsSchool" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("schoolList", schoolList, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            <label asp-for="fName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="fName" class="form-control" />
                <span asp-validation-for="fName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="lName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="lName" class="form-control" />
                <span asp-validation-for="lName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<table>
    <thead>
        <tr>
            <th>Period</th>
            <th>Start</th>
            <th>End</th>
            <th>Room</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in scheduleList)
        {
                <tr>
                    <td>
                        @item.Label
                    </td>
                    <td>
                        @item.FromValue
                    </td>
                    <td>
                        @item.ToValue
                    </td>
                    <td>
                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.DropDownList("spaceSelectList", spaceList, "1", new { @class = "form-control", @style = "width: 16rem; display:inline-block" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <form asp-action="EditSchedule">
                            @*<input type="hidden" id="" />*@
                            <input type="submit" value="Save" class="btn btn-default" />
                            
                        </form>
                        </td>
                </tr>
                }
        </tbody>
    </table>


        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
