@model IEnumerable<StudentFinder.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h2>Schedule</h2>

<p>
    <a asp-action="Create">Add New Period</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromMm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToMm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromHh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromMm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToHh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToMm)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
